# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TestePrograma/target/
/PrimeiroPrograma/target/
/HoraDoSistema/target/
/IdiomaSistema/target/
/ResolucaoTela/target/
/OlaMundoSwing/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/ResolucaoTelaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/ResolucaoTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/calculadoraIdadeTeste/nbproject/private/
/calculadoraIdadeTeste/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/operadoresSwing/nbproject/private/
/operadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
